# Importing libraries

In [26]:
import pandas as pd

import requests as r

import numpy as np


#import matplotlib.pyplot as plt
#lat22.312771 lon114.041931

In [28]:
##Reviewing csv file

In [2]:
#Create dataframe called "disneyland_reviews"
disneyland_reviews = pd.read_csv('disneyland_reviews.csv')

#Display general info of the contents of the dataframe
disneyland_reviews.info

<bound method DataFrame.info of        Review_ID  Rating Year_Month     Reviewer_Location  \
0      670772142       4     2019-4             Australia
1      670682799       4     2019-5           Philippines
2      670623270       4     2019-4  United Arab Emirates
3      670607911       4     2019-4             Australia
4      670607296       4     2019-4        United Kingdom
...          ...     ...        ...                   ...
42651    1765031       5    missing        United Kingdom
42652    1659553       5    missing                Canada
42653    1645894       5    missing          South Africa
42654    1618637       4    missing         United States
42655    1536786       4    missing        United Kingdom

                                             Review_Text               Branch
0      If you've ever been to Disneyland anywhere you...  Disneyland_HongKong
1      Its been a while since d last time we visit HK...  Disneyland_HongKong
2      Thanks God it wasn   t too hot or too humid wh...  Disneyland_HongKong
3      HK Disneyland is a great compact park. Unfortu...  Disneyland_HongKong
4      the location is not in the city, took around 1...  Disneyland_HongKong
...                                                  ...                  ...
42651  i went to disneyland paris in july 03 and thou...     Disneyland_Paris
42652  2 adults and 1 child of 11 visited Disneyland ...     Disneyland_Paris
42653  My eleven year old daughter and myself went to...     Disneyland_Paris
42654  This hotel, part of the Disneyland Paris compl...     Disneyland_Paris
42655  I went to the Disneyparis resort, in 1996, wit...     Disneyland_Paris

[42656 rows x 6 columns]>

In [3]:
#Check the first 10 rows of the Disneyland reviews dataframe
disneyland_reviews.head(10)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong
5,670591897,3,2019-4,Singapore,"Have been to Disney World, Disneyland Anaheim ...",Disneyland_HongKong
6,670585330,5,2019-4,India,Great place! Your day will go by and you won't...,Disneyland_HongKong
7,670574142,3,2019-3,Malaysia,Think of it as an intro to Disney magic for th...,Disneyland_HongKong
8,670571027,2,2019-4,Australia,"Feel so let down with this place,the Disneylan...",Disneyland_HongKong
9,670570869,5,2019-3,India,I can go on talking about Disneyland. Whatever...,Disneyland_HongKong

In [5]:
#Check the final 10 rows of the Disneyland review dataframe
disneyland_reviews.tail(10)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
42646,2228738,3,missing,Spain,It's my 4th. visit to disneyland paris and all...,Disneyland_Paris
42647,2216235,2,missing,United States,I would not recommend going if you have been t...,Disneyland_Paris
42648,2192691,5,missing,United States,I've been to Disney in California 5 times. I'v...,Disneyland_Paris
42649,2174555,5,missing,United Kingdom,Disneyland Park Paris is the rolls royce of th...,Disneyland_Paris
42650,1879452,5,missing,United Kingdom,Did the kids free trip last week in March no c...,Disneyland_Paris
42651,1765031,5,missing,United Kingdom,i went to disneyland paris in july 03 and thou...,Disneyland_Paris
42652,1659553,5,missing,Canada,2 adults and 1 child of 11 visited Disneyland ...,Disneyland_Paris
42653,1645894,5,missing,South Africa,My eleven year old daughter and myself went to...,Disneyland_Paris
42654,1618637,4,missing,United States,"This hotel, part of the Disneyland Paris compl...",Disneyland_Paris
42655,1536786,4,missing,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris

In [19]:
#Check the shape of the dataframe
disneyland_reviews.shape

(42656, 6)

In [8]:
#Check what data types make up the dataframe
disneyland_reviews.dtypes

Review_ID             int64
Rating                int64
Year_Month           object
Reviewer_Location    object
Review_Text          object
Branch               object
dtype: object

In [15]:
rating_stats = disneyland_reviews["Rating"].describe()
print(rating_stats)

count    42656.000000
mean         4.217695
std          1.063371
min          1.000000
25%          4.000000
50%          5.000000
75%          5.000000
max          5.000000
Name: Rating, dtype: float64